{% extends 'base.html' %} {% block content %}
<form method="post" action="/beers">
    <h2>Add a new Beer</h2>

    <!-- <div>
        <label for="user_id">user_id</label>
        <input id="user_id" user_id="user_id"></textarea>
    </div> -->

    <div>
        <label for="name">Name</label>
        <input id="name" name="name"></textarea>
    </div>

    <!-- <div>
        <label for="style">Style</label>
        <textarea id="style" name="style"></textarea>
    </div> -->


    <div>
        <label for="style">Style</label>
        <select name="style" id="style">
            <option value=""></option>
            <option value="IPA">IPA</option>
            <option value="Stout">Stout</option>
        </select>
    </div>



    <div>
        <label for="type">Type</label>
        <textarea id="type" name="type"></textarea>
    </div>

    <div>
        <label for="miscellaneous">Miscellaneous</label>
        <textarea id="miscellaneous" name="miscellaneous"></textarea>
    </div>

    <div>
        <label for="image_url">Image Url</label>
        <input id="image_url" name="image_url" />
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>
{% endblock content %}
